/** BODY CSS **/

body {
    background: lightgrey;
    color: #777777;
    font-family: Georgia, Times, "Times New Roman", serif;
}

/** HEADER + NAV CSS **/

#header {
    position: fixed;
    background: white;
    border: solid 2px #cccccc;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100px;
}

/** NAV LINKS **/

ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
  }

  a {
    color: #777777;
    }

  li {
      display: inline;
      padding: 10px;
      top: 0px;
      font-size: larger;
      border: solid;
      border-radius: 25px;
  }

  li:hover {
    background-color: lightblue;
}

nav {
    float: right;
    margin-top: 35px;
    margin-right: 200px;
}

h1 {
    float: left;
    padding: 15px;
    margin-top: 20px;
    margin-left: 200px;
    border-style: solid;
    border-width: medium;
    border-radius: 25px;
}

/** MAIN CONTENT **/

#mainbox {
    position: relative;
    background: #ffffff;
    margin: 150px 200px;
    height: 500px;
    border: solid #dddddd;
}

/** IMAGE RESIZE/POSITIONNING **/

img {
    position: relative;
    width: 200px;
    height: auto;
    float: left;
    border-radius: 50%;
    left: 50px;
    top: 50px;
}

p {
    text-align: center;
    margin-top: 20px;
    margin-left: 280px;
    margin-right: 10px;
}

#about {
position: relative;
left: 20px;
}

/** FOOTER **/

#footer {   
    position: fixed;
    background: #666666;
    height: 50px;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

h4 {
    text-align: center;
}
